Γùç injected env (22) from .env.local,.env // tip: Γùê secrets for agents [www.dotenvx.com]
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "ambulance_type" AS ENUM ('white', 'atan');

-- CreateEnum
CREATE TYPE "shift_status" AS ENUM ('pending', 'confirmed', 'cancelled');

-- CreateEnum
CREATE TYPE "shift_status_type" AS ENUM ('active', 'canceled');

-- CreateEnum
CREATE TYPE "shift_type" AS ENUM ('day', 'evening', 'night', 'reinforcement', 'overstaffed', 'security');

-- CreateTable
CREATE TABLE "account" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "display_name" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "password_hash" TEXT,
    "phone" VARCHAR(50) NOT NULL,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account_tag" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "account_id" UUID NOT NULL,
    "tag_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "account_tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ambulance" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "number" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "type" "ambulance_type" NOT NULL,

    CONSTRAINT "ambulance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "area" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "area_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emergency_contacts" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "relationship" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(50) NOT NULL,
    "email" VARCHAR(255),
    "address" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "emergency_contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "launch_point" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "area_id" UUID NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "order" SERIAL NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "launch_point_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "user_id" UUID NOT NULL,
    "title" VARCHAR(255) NOT NULL,
    "message" TEXT NOT NULL,
    "timestamp" TIMESTAMPTZ(6) NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_at" TIMESTAMPTZ(6),
    "updated_by" UUID,

    CONSTRAINT "notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_token" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "account_id" UUID NOT NULL,
    "token_hash" TEXT NOT NULL,
    "expires_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "used" BOOLEAN DEFAULT false,

    CONSTRAINT "password_reset_token_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permanent_shift" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "launch_point_id" UUID NOT NULL,
    "week_day" INTEGER NOT NULL,
    "start_time" TIME(6) NOT NULL,
    "end_time" TIME(6) NOT NULL,
    "adult_only" BOOLEAN NOT NULL DEFAULT false,
    "number_of_slots" INTEGER NOT NULL DEFAULT 1,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "shift_type" "shift_type" NOT NULL,
    "ambulance_type" "ambulance_type",
    "start_date" DATE,
    "end_date" DATE,
    "overnight" BOOLEAN DEFAULT true,

    CONSTRAINT "permanent_shift_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permissions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "permissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shift" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "permanent_shift_id" UUID,
    "driver_id" UUID,
    "launch_point_id" UUID NOT NULL,
    "start_time" TIME(6),
    "end_time" TIME(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "start_date" DATE NOT NULL,
    "adult_only" BOOLEAN DEFAULT false,
    "number_of_slots" INTEGER DEFAULT 1,
    "status" "shift_status_type" NOT NULL DEFAULT 'active',
    "generated" BOOLEAN DEFAULT false,
    "ambulance_id" UUID,
    "shift_type" "shift_type" NOT NULL,
    "end_date" DATE,
    "ambulance_type" "ambulance_type" NOT NULL,

    CONSTRAINT "shift_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shift_slot" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "shift_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "status" "shift_status" NOT NULL DEFAULT 'pending',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "shift_slot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tag" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "name" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "category" VARCHAR(255),

    CONSTRAINT "tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tag_permission" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "tag_id" UUID NOT NULL,
    "permission_id" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,

    CONSTRAINT "tag_permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_info" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "account_id" UUID NOT NULL,
    "first_name" VARCHAR(255),
    "last_name" VARCHAR(255),
    "address" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),
    "created_by" UUID NOT NULL DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    "updated_by" UUID,
    "image_url" TEXT,
    "role" VARCHAR(255),
    "area_id" UUID,
    "active" BOOLEAN NOT NULL DEFAULT false,
    "active_date" DATE,

    CONSTRAINT "user_info_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "account"("email");

-- CreateIndex
CREATE UNIQUE INDEX "account_phone_key" ON "account"("phone");

-- CreateIndex
CREATE INDEX "idx_user_display_name" ON "account"("display_name");

-- CreateIndex
CREATE INDEX "idx_user_email" ON "account"("email");

-- CreateIndex
CREATE UNIQUE INDEX "uk_account_tag" ON "account_tag"("account_id", "tag_id");

-- CreateIndex
CREATE UNIQUE INDEX "launch_point_order_key" ON "launch_point"("order");

-- CreateIndex
CREATE INDEX "idx_permanent_shift_week_day" ON "permanent_shift"("week_day");

-- CreateIndex
CREATE UNIQUE INDEX "permissions_name_key" ON "permissions"("name");

-- CreateIndex
CREATE INDEX "idx_shift_date" ON "shift"("start_date");

-- CreateIndex
CREATE INDEX "idx_shift_driver_id" ON "shift"("driver_id");

-- CreateIndex
CREATE INDEX "idx_shift_launch_point_id" ON "shift"("launch_point_id");

-- CreateIndex
CREATE INDEX "idx_shift_status" ON "shift"("status");

-- CreateIndex
CREATE UNIQUE INDEX "uk_shift_permanent_shift_id_start_date_start_time" ON "shift"("permanent_shift_id", "start_date", "start_time");

-- CreateIndex
CREATE UNIQUE INDEX "uk_shift_slot" ON "shift_slot"("shift_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "uk_tag_permission" ON "tag_permission"("tag_id", "permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "uk_user_info_account_id" ON "user_info"("account_id");

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account_tag" ADD CONSTRAINT "account_tag_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account_tag" ADD CONSTRAINT "account_tag_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account_tag" ADD CONSTRAINT "account_tag_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "tag"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account_tag" ADD CONSTRAINT "account_tag_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ambulance" ADD CONSTRAINT "ambulance_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ambulance" ADD CONSTRAINT "ambulance_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "area" ADD CONSTRAINT "area_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "area" ADD CONSTRAINT "area_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_contacts" ADD CONSTRAINT "emergency_contacts_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_contacts" ADD CONSTRAINT "emergency_contacts_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emergency_contacts" ADD CONSTRAINT "emergency_contacts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user_info"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "launch_point" ADD CONSTRAINT "launch_point_area_id_fkey" FOREIGN KEY ("area_id") REFERENCES "area"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "launch_point" ADD CONSTRAINT "launch_point_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "launch_point" ADD CONSTRAINT "launch_point_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification" ADD CONSTRAINT "notification_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification" ADD CONSTRAINT "notification_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification" ADD CONSTRAINT "notification_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_reset_token" ADD CONSTRAINT "password_reset_token_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_reset_token" ADD CONSTRAINT "password_reset_token_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_reset_token" ADD CONSTRAINT "password_reset_token_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permanent_shift" ADD CONSTRAINT "permanent_shift_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permanent_shift" ADD CONSTRAINT "permanent_shift_launch_point_id_fkey" FOREIGN KEY ("launch_point_id") REFERENCES "launch_point"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permanent_shift" ADD CONSTRAINT "permanent_shift_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permissions" ADD CONSTRAINT "permissions_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "permissions" ADD CONSTRAINT "permissions_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_permanent_shift_id_fkey" FOREIGN KEY ("permanent_shift_id") REFERENCES "permanent_shift"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_ambulance_id_fkey" FOREIGN KEY ("ambulance_id") REFERENCES "ambulance"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_driver_id_fkey" FOREIGN KEY ("driver_id") REFERENCES "user_info"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_launch_point_id_fkey" FOREIGN KEY ("launch_point_id") REFERENCES "launch_point"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift" ADD CONSTRAINT "shift_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift_slot" ADD CONSTRAINT "shift_slot_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift_slot" ADD CONSTRAINT "shift_slot_shift_id_fkey" FOREIGN KEY ("shift_id") REFERENCES "shift"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift_slot" ADD CONSTRAINT "shift_slot_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shift_slot" ADD CONSTRAINT "shift_slot_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user_info"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag" ADD CONSTRAINT "tag_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag" ADD CONSTRAINT "tag_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag_permission" ADD CONSTRAINT "tag_permission_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag_permission" ADD CONSTRAINT "tag_permission_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "permissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag_permission" ADD CONSTRAINT "tag_permission_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "tag"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tag_permission" ADD CONSTRAINT "tag_permission_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_info" ADD CONSTRAINT "user_info_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_info" ADD CONSTRAINT "user_info_area_id_fkey" FOREIGN KEY ("area_id") REFERENCES "area"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_info" ADD CONSTRAINT "user_info_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_info" ADD CONSTRAINT "user_info_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

